# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.out
*.caffemodel
*.prototxt

# include lib in py-faster-rcnn
!src/*/lib/
!src/*/lib/VCProjs/*.sln
!src/*/lib/VCProjs/*/*.vcproj
!models/*.yml

# exclude data folder
data/
# include README.md in the data folder as a placeholder
!data/README.md

# exclude output folder
output/

# exclude visual studio files in script
*.opendb
*.VC.db
*.deps
x64/
*.user
*.db
*.aux
*.log
*.out
*.toc
evaluation/UHRSDataCollection/.vs/*
evaluation/UHRSDataCollection/UHRSDataCollection/bin/*
evaluation/UHRSDataCollection/UHRSDataCollection/obj/*

#include lib in UHRSDataCollection
!evaluation/UHRSDataCollection/packages/*

# exclude PytCharm IDE directory
.idea/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# vim
*.swo
*.swp

data
models
output
tmp_run

# vscode
.vscode/

.machines.yaml

visualization/db.sqlite3
visualization/taxonomy/taxonomy.yaml
aux_data/configs/azure_blob_account.yaml
