[submodule "src/CCSCaffe"]
	path = src/CCSCaffe
	url = git@ssh.dev.azure.com:v3/visionbio/caffe/caffe
	branch = WinCaffe
[submodule "src/objectdetection"]
	path = src/objectdetection
	url = git@ssh.dev.azure.com:v3/visionbio/objectdetection/objectdetection
[submodule "src/maskrcnn-benchmark"]
	path = src/maskrcnn-benchmark
    url = https://visionbio@dev.azure.com/visionbio/maskrcnn-benchmark/_git/maskrcnn-benchmark
[submodule "src/mmcv"]
	path = src/mmcv
	url = git@ssh.dev.azure.com:v3/visionbio/mmcv/mmcv
[submodule "src/mmdetection"]
	path = src/mmdetection
	url = git@ssh.dev.azure.com:v3/visionbio/mmdetection/mmdetection
