azure-storage-blob==2.1.0
Cython
deprecated
django
easydict
ete3
future
ipython
ipdb
jinja2
matplotlib
nltk
numpy
opencv-python
orderedset
pandas
pathos
pillow
progressbar
protobuf
psutil
pymongo
python-magic
pyyaml
ruamel.yaml
seaborn
simplejson
sklearn
scikit-image
tqdm
traceback2
tb-nightly
yacs
torchlars
