{% load static %}

<style>
    table#image_table {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
    }

    ul#label_list {
        list-style: none;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    #label_checks {
        background: #555;
        color: #f1f1f1;
    }

</style>
<script src={% static "js/image_draw.js" %} type="text/javascript"></script>
<script>
    let all_type_to_rects = JSON.parse("{{ all_type_to_rects|escapejs }}");
    let target_label = '{{ target_label }}'
    let all_url = JSON.parse("{{ all_url|escapejs }}");
    
    let label_list_dic = {};
    let type_list_dic = {};

    for (let i = 0; i < all_type_to_rects.length; i++) {
        let type_to_rects = all_type_to_rects[i];
        for (let t in type_to_rects) {
            type_list_dic[t] = 1;
            let rects = type_to_rects[t];
            for (let r in rects) {
                label_list_dic[rects[r]['class']] = 1;
            }
        }
    }
    let label_list = Object.keys(label_list_dic);
    if (target_label != '') { 
        let index = label_list.indexOf(target_label);
        if (index > -1) {
            label_list.splice(index, 1);
            label_list.splice(0, 0, target_label);
        }
    }

    let type_list = Object.keys(type_list_dic);

    window.onload = function() {
        draw_images(all_url);
        add_label_points(label_list);
        add_type_points(type_list);
        window.setTimeout(onClick_abstraction, 1000)
    };

    function onClick_abstraction() {
        unchecked_labels = get_unchecked_list('label_table');
        unchecked_types = get_unchecked_list('type_table');
        update_images(all_type_to_rects, all_url, 
            unchecked_labels, unchecked_types);
    }
</script>
<script>
    window.onscroll = function() {myFunction()};
    
    function myFunction() {
        let header = document.getElementById("label_checks");
        let sticky = header.offsetTop;
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>

<div id="label_checks">
Labels
<input type="checkbox" onclick="onClickAllCheckbox()"></input><label>Select/Unselect All</label>
<table id="type_table" > 
</table>
<table id="label_table" >
</table>
</div>

<table id="image_table">
</table>

<center>
    {% if previous_link %}
    <a href="{{ previous_link }}"><font size="6">Previous</font></a>
    {% endif %}
    {% if next_link %}
    <a href="{{ next_link }}"><font size="6">Next</font></a>
    {% endif%}
</center>
<script>
    function onClickAllCheckbox() {
        let label_ul = document.getElementById("label_table");
        let inputs = label_ul.getElementsByTagName('input');
        let is_all_checked = true;
        for (let i = 0; i < inputs.length; i++) {
            if (!inputs[i].checked) {
                is_all_checked = false;
                break;
            }
        }
        for (let i = 0; i < inputs.length; i++) {
            inputs[i].checked = !is_all_checked;
        }
        onClick_abstraction()
    }
</script>


