{% load static %}

<style>
    table#image_table {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
    }

    ul#label_list {
        list-style: none;
    }

</style>
<script src={% static "js/image_draw.js" %} type="text/javascript"></script>
<script>
    let images_dict = JSON.parse("{{ images|escapejs }}");
    let label_list = JSON.parse("{{ label_list|escapejs }}");

    let static_filepath = {% static null %};

    window.onload = function() {
        draw_images(images_dict, static_filepath, label_list);
        window.setTimeout(onClick_abstraction, 1000)
    };

    function onClick_abstraction() {
        let label_ul = document.getElementById("label_list");
        inputs = label_ul.getElementsByTagName('input')
        let unchecked_list = [];
        for (let i = 0; i < inputs.length; i++) {
            if (this == inputs[i] && !this.checked) {
                unchecked_list.push(this.id)
            } else if (!inputs[i].checked) {
                unchecked_list.push(inputs[i].id)
            }
        }
        update_images(images_dict, static_filepath, unchecked_list);
    }
</script>


<ul id="label_list">
    <li>Labels</li>
</ul>

<table id="image_table">
</table>



<center>
    {% if label %}
        <a href="{% url 'detection:view_image2' %}?data={{ data }}&split={{ split }}&version={{ version }}&label={{ label }}&start_id={{ previous_id }}">Previous</a>
        <a href="{% url 'detection:view_image2' %}?data={{ data }}&split={{ split }}&version={{ version }}&label={{ label }}&start_id={{ next_id }}">Next</a>
    {% else %}
        <a href="{% url 'detection:view_image2' %}?data={{ data }}&label={{ label }}&start_id={{ previous_id }}">Previous</a>
        <a href="{% url 'detection:view_image2' %}?data={{ data }}&label={{ label }}&start_id={{ next_id }}">Next</a>
    {% endif %}
</center>

