<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script>
      window.onload = function  () {
    	var li_ul = document.querySelectorAll(".col_ul li  ul");
        for (var i = 0; i < li_ul.length; i++) {
            li_ul[i].style.display = "none"
        };
    
        var exp_li = document.querySelectorAll(".col_ul li > span");
        for (var i = 0; i < exp_li.length; i++) {
            exp_li[i].style.cursor = "pointer";
            exp_li[i].onclick = showul;
        };
        function showul () {
            nextul = this.nextElementSibling;
            if(nextul.style.display == "block")
                nextul.style.display = "none";
            else
                nextul.style.display = "block";
        }
    }
  </script>
</head>

<center>
<form id="uploadbanner" 
      enctype="multipart/form-data" 
      method="post" 
      action="/detection/test_model/">{% csrf_token %}
    <input type='hidden' id='full_expid' name='full_expid' value='{{ full_expid }}' />
    <input type='hidden' id='full_expid' name='predict_file' value='{{ predict_file }}' />
    <input id="fileupload" name="image_file" type="file"
        onchange="form.submit()" />
    <!--<input type="submit" value="submit" id="submit" />-->
</form>
</center>

