<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"
    />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">
	</style>
</head>

<body>
    <p>
    label_name: (num_images_with_bb_in_total, 
                num_images_with_bb_in_train,
                num_images_with_bb_in_test);
                (num_images_no_bb_in_total,
                num_images_no_bb_in_train,
                num_images_no_bb_in_test)
    Source dataset name[matched_label
                (num_images_in_total, 
                num_images_in_train, 
                num_images_in_test)]
    <br>
    <ul>
        <li>num_images does not include the number of images from the children
        nodes</li>
        <li>num_images=-1 means we don't use the images from that data
        source for the specific purpose (train/test) or 
        please ignore it if the dataset was created before 4/29/2018</li>
        <li>matched_label = None means we will not extract any images from that
            data source.
        </li>
        <li>number of training images could be larger than the number of images
            in total because we will duplicate the training images so that the
            number is larger than 200 (by default)
        </li>
    </ul>
    
    </p>
    <div id='container'>
    <ul class="col_ul">
        {{ li_ul_tree_str | safe }}
    </ul>
    </div>

    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script>
        $('#container').jstree();
    </script>
</body>
</html>

